<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'nonce-<%= nonce %>'; style-src 'self';">
    <title>Puzzlewall</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="header">
        <h1>Puzzlewall</h1>
        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="darkModeToggle">
                <input type="checkbox" id="darkModeToggle">
                <div class="slider round"></div>
            </label>
        </div>
    </header>

    <div class="container">
        <h3 class="sequence-header">sequence length</h3>
        <div class="tabs">
            <div class="tab-item" data-mode="4">4</div>
            <div class="tab-item" data-mode="6">6</div>
            <div class="tab-item" data-mode="8">8</div>
        </div>
        <h4>Solve the following puzzle:</h4>
        <div class="gamecontainer">
            <div class="grid" id="grid">
                <div class="grid-item" data-number="1"></div>
                <div class="grid-item" data-number="2"></div>
                <div class="grid-item" data-number="3"></div>
                <div class="grid-item" data-number="4"></div>
                <div class="grid-item" data-number="5"></div>
                <div class="grid-item" data-number="6"></div>
                <div class="grid-item" data-number="7"></div>
                <div class="grid-item" data-number="8"></div>
                <div class="grid-item" data-number="9"></div>
            </div>
        </div>
        <div id="message" class="message"></div>
        <div id="input-section" class="hidden">
            <input type="text" class="name" id="name" placeholder="your name">
            <button class="button" id="submit-button">Submit Score</button>
        </div>
        <div id="continue-section" class="hidden">
            <button class="button" id="continue-button">Weiter zum Inhalt</button>
        </div>
    </div>
    <div id="tries-container" class="tries-container">
        <h3>Worldwide amount of tries:</h3>
        <h3 id="tries" class="tries">0</h3>
    </div>
    <div id="current-leaderboard" class="leaderboard-container">
        <h3 id="leaderboard-title">Leaderboard</h3>
        <ul id="leaderboard-list" class="leaderboard-list"></ul>
    </div>
    <div id="other-leaderboard" class="leaderboard-container">
        <h3 id="other-leaderboard-title">Leaderboard</h3>
        <ul id="other-leaderboard-list" class="leaderboard-list"></ul>
    </div>

    <script nonce="<%= nonce %>" src="/socket.io/socket.io.js"></script>
    <script nonce="<%= nonce %>" src="/js/script.js"></script>
</body>
</html>
